.button {
    background: #7289da;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    border-radius: 3px;
    height: 50px;

    position: relative;
    display: inline-block;
    align-self: baseline;
    justify-items: center;

    box-sizing: border-box;
    border: none;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-transition: all .17s ease-out;
    transition: all .17s ease-out;

}

.buttonContent {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fileInput {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}