.container {
    padding-top: 56px;
    padding-bottom: 56px;
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: opacity .6s .1s,-webkit-transform .6s ease;
    transition: opacity .6s .1s,-webkit-transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease;
    transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease;
    height: 50px;
    background-color: white;
}

.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}