.first {
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second {
    background: purple;

    width: 100%;
    height: 100%;
}

.upperSection {
    width: 100%;
    height: 400px;
    /*background-image: url(../../assets/imgs/flame.png);*/
    background-color: lightblue;
    background-position: top,bottom;
    background-size: contain;
    position: relative;
    
}

.upperSection .textContainer {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

.upperSection .textContainer .jobHeader {
    color: black;
    font-size: 42px;
    font-weight: bold;
}

.upperSection .textContainer .jobCatchphrase {
    color: black;
    font-size: 18px;
    
}

.first .informationContainer {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    max-width: 1000px;
    width: 100%;
}

.informationContainer .orientation { /* skulle kunna vara en bild/ikon istället */
    padding-left: 100px;
    padding-top: 40px;
}

.informationContainer .aboutMutate { /* skulle kunna vara en bild/ikon istället */
    padding-left: 18%;
    padding-right: 18%;
}

.jobsContainer {
    
    width: 100%;
    background: blue;
}

.jobsContainer .jobHeader {
    font-size: 18px;
    padding-top: 40px;
    padding-left: 18%;
    letter-spacing: 1px;
}

.jobsContainer .jobCardsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: yellow;
    flex-wrap: wrap;
}




/* Discord jobbbakgrund */
.sectionJobs-34F39V { 
    background-attachment: scroll,fixed;
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(248,249,253,.6)),to(#f8f9fd)),url(/assets/a4de431….svg);
    background-image: linear-gradient(0deg,rgba(248,249,253,.6),#f8f9fd),url(/assets/a4de431….svg);
    background-position: top,bottom;
    background-repeat: no-repeat;
    background-size: contain;
    color: #36393f;
    font-weight: 400;
    min-height: 550px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .upperSection .textContainer .jobHeader {
        font-size: 32px;
        font-weight: bold;
    }
    
    .upperSection .textContainer .jobCatchphrase {
        font-size: 16px;
    }

    .informationContainer .orientation { /* skulle kunna vara en bild/ikon istället */
        padding-left: 20px;
        padding-top: 10px;
    }

    
    .upperSection .textContainer {
        bottom: 5%;
        left: 20px;
    }

    .informationContainer .aboutMutate { /* skulle kunna vara en bild/ikon istället */
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media only screen and (max-width: 560px) {
    .informationContainer .aboutMutate { /* skulle kunna vara en bild/ikon istället */
        padding-left: 20px;
        padding-right: 20px;
    }

}