.first {
    background: #f5f8fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second {
    background: purple;

    width: 100%;
    height: 100%;
}

.upperSection {
    width: 100%;
    height: 400px;
    background-image: url(https://cdn.cms-twdigitalassets.com/content/dam/careers-twitter/jobs/jobsmasterhead.jpg);
    background-color: lightblue;;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    
}

.upperSection .textContainer {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

.upperSection .textContainer .jobHeader {
    font-size: 42px;
    font-weight: bolder;
}

.upperSection .textContainer .jobCatchphrase {
    font-size: 18px;
    
}

.first .informationContainer {
    display: flex;
    flex-direction: column;
    /*background-color: lightblue;*/
    max-width: 1000px;
    width: 100%;
}

.informationContainer .orientation { /* skulle kunna vara en bild/ikon istället */
    padding-left: 100px;
    padding-top: 40px;
}

.informationContainer .aboutMutate { /* skulle kunna vara en bild/ikon istället */
    padding-left: 18%;
    padding-right: 18%;
    line-height: 1.6666666666666667;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flexWrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexVertical {

}

.flexJustifyCenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flexAlignCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexHorizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.filterWrap {
    margin: 26px 10px -4px;
    /*font-size: 18px;*/
    position: relative;
    max-width: 1440px;
    /*min-width: 1080px;*/
    width: 100%;

    flex: 1 1 auto;
}

.buttonWrapOuter {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 25px 0;
    text-align: center;
}

.buttonWrapOuter .buttonWrap {
    display: inline-block; /* divider lägger sig korrekt, skiljer sig från inline-flex */
}

.divider {
    background-color: rgba(46,55,87,.24);
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 40px;
    margin: 0 11px;
    width: 2px;
    vertical-align: middle;
}

.jobsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*min-height: 550px;*/
    /*background: blue;*/
    /* Här slängs en fixed brgb in */

    background-attachment: scroll,fixed;
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(248,249,253,.6)),to(#f5f8fa)),url(../../assets/imgs/Rainbow-Download-PNG.png);
    background-image: linear-gradient(0deg,rgba(248,249,253,.6),#f5f8fa),url(../../assets/imgs/Rainbow-Download-PNG.png);
    background-position: top,bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.jobsContainer .selectionWrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    
}

.jobsContainer .selectionWrapper .widthDefault {
    padding: 0 4.16666667%;    
}
/* För Error/Loading */
.widthLoading {
    padding: 0 15.27777777777778%;
    width: 100%;
}

.marginTop200 {
    margin-top: 200px;
}

.marginBottom200 {
    margin-bottom: 200px;
}

/* kopplat till när det går över till dropdownmenu */
@media screen and (max-width: 600px) {
    .marginTop200 {
        margin-top: 100px;
    }
    .marginBottom200 {
        margin-bottom: 100px;
    }
    
}

.flexHelper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.flexHorizontal {
    display: flex;
    flex-direction: row;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.jobsContainer .selectionWrapper .widthDefault .flexHorizont {
    flex: 1 1 auto;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 40px;
    
}

.jobsContainer .jobHeader {
    font-size: 18px;
    padding-top: 40px;
    
    letter-spacing: 1px;
}

.jobsContainer .jobCardsFlexWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 40px 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    
}

.jobCardsFlexWrapper .noJobs {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

/* Discord jobbbakgrund */
.sectionJobs-34F39V { 
    background-attachment: scroll,fixed;
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(248,249,253,.6)),to(#f8f9fd)),url(/assets/a4de431….svg);
    background-image: linear-gradient(0deg,rgba(248,249,253,.6),#f8f9fd),url(/assets/a4de431….svg);
    background-position: top,bottom;
    background-repeat: no-repeat;
    background-size: contain;
    color: #36393f;
    font-weight: 400;
    min-height: 550px;
    width: 100%;
}

@media only screen and (max-width: 1080px) {
    .buttonWrapOuter {
        background-color: #f8f9fd;
        border-bottom: 1px solid rgba(220,221,222,.54);
        border-top: 1px solid rgba(220,221,222,.54);
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 16px 20px;
        white-space: nowrap;
    }

    .filterWrap {
        max-height: 100px;
        margin: 20px 0 0;
        /*max-width: auto;
        min-width: auto;
        utgör sidoförstoringen*/
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .jobsContainer .selectionWrapper .widthDefault .flexHorizont {
        margin-left: 0px;
        margin-right: 0px;

    }
    .jobsContainer .selectionWrapper .widthDefault {
        padding: 0 0.46666667%;
        
    }
    .widthLoading {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 600px) {
    .upperSection .textContainer .jobHeader {
        font-size: 32px;
        font-weight: bold;
    }
    
    .upperSection .textContainer .jobCatchphrase {
        font-size: 16px;
    }

    .informationContainer .orientation { /* skulle kunna vara en bild/ikon istället */
        padding-left: 20px;
        padding-top: 10px;
    }

    
    .upperSection .textContainer {
        bottom: 5%;
        left: 20px;
    }

    .informationContainer .aboutMutate { /* skulle kunna vara en bild/ikon istället */
        padding-left: 10%;
        padding-right: 10%;
    }
}



@media only screen and (max-width: 560px) {
    .informationContainer .aboutMutate { /* skulle kunna vara en bild/ikon istället */
        padding-left: 20px;
        padding-right: 20px;
    }

}