.styleMe {
  width: 100%;
  min-height: 100vh;
  background: lightsalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overhead {
  padding-top: 100px;
}

.jobSection {
  margin-top: 20px;
  margin-bottom: 20px;

  max-width: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobContainer {
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  background: white;
  margin-bottom: 10px;
}

.jobHeader {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 8px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modifyButton {
  height: 30px;
  padding: 10px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  background-color: lightblue;
  color: #23272a;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.modifyButton:hover {
  color: #7289da;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.deleteButton {
  height: 30px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  background-color: red;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.deleteButton:hover {
  background-color: darkred;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.trashcan {
  width: 16px;
  height: 16px;
}

.applicantBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.boldText {
  font-weight: 700;
  font-size: 14px;
}

.applicantHeader {
  display: flex;
  justify-content: center;
}

.backToRecruitButton {
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;

  margin-top: 20px;
  margin-bottom: 100px;

  -webkit-transition: all 0.17s ease-out;
  transition: all 0.17s ease-out;

  border: 1px solid hsla(0, 0%, 100%, 0.3);
}

.backToRecruitButton:hover {
  border-color: white;
  transform: translateY(-2px);
}
