.container {
  width: 100%;
  height: 100vh;
  background: rgb(224, 224, 197);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper {
  position: fixed;
  top: 14px;
  left: 50%;
  margin-left: -65px;
  margin-top: 0;
  z-index: 1;
  opacity: 0;
}

.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 130px;
  height: 36px;
  transform: translateY(-200px);
}

@media (min-width: 830px) {
  .logoWrapper {
    position: fixed;
    top: 14px;
    left: 24px;
    margin: 0;
  }
}
