.first {
    background: blue;

    width: 100%;
    height: 100px;
}

.pageContainer {

}

.downloadContainer {
    padding-top: 72px;
    background-color: green;
}

.downloadContainer .downloadWrapper {
    display: flex;
    flex-direction: row;

    -webkit-box-orient: vertical;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    width: 100%;
    max-width: 1150px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.downloadInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    width: 45%;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    color: #fff;
    padding-left: 75px;
}

.downloadInfo .downloadTitle {
    font-weight: 700;
    text-transform: uppercase;
}

.downloadInfo .downloadSlogan {
    font-size: 18px;
    margin: 25px 0 22px;
}

.todoPicture {
    display: none;
    width: 100%;
    margin: 40px 0;
}

.todoPicture .pictureWrapper {
    max-width: 610px;
}

.carousel {
    max-width: 610px;
}

.possiblePicture {
    display: none;
}

.possibleSmallPicture {
    display: none;
}

.downloadPictures {
    width: 55%;
    position: relative;
}

.featureWrapper {
    max-width: 720px;
    width: 100%;
    margin: 0 auto 26px;
}

.featureContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.featureContainer .featureText {
    font-size: 18px;
}

.logo {
    margin: 0;
    margin-right: 14px;
    height: 30px;
    width: 30px;
}

.downloadButton {
    display: inline-block;
    position: relative;
    background-color: #0e86ca;
    border: solid 1px #00aeff;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 18px;
    max-width: 215px;
    font-weight: 400;
    color: #fff;
    padding: 10px 50px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: color .2s,background-color .2s,border-color .2s;
}

.downloadButton:hover {

}


/* ny */
.gallery {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px black dotted;
    margin: 30px 0 0 150px;
    /* usually an «overflow:hidden» is set here */
 }
 
 #overflow:checked + .gallery { 
   overflow:hidden; 
 }
 
 .gallery ul {
    font-size: 0;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: -100px;
    margin: 0; padding: 0;
 }
 
 .gallery li {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    white-space: normal;
    
 }

 .gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
 }
 
 .tempButton {
   font: 40px "Courier New";
   border: 1px #d8d8d8 dotted;
   color: #626262;
   background: none;
   cursor: pointer;
   width: 50px;
   text-align: center;
   margin: 20px -150px 0 150px;
 }
 
 /*
 label, a {
    font: 14px Georgia;
    font-style: italic;
    color: #626262;
 }*/

 /*
 .clientFeature {
    background: #beaa91 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;
    background-size: auto;
 }*/

 /* SUPER TALL PIC, totalt 5 olika versioner av bilder */
 .featureGames {
    height: auto;
    color: #000;
    /*background: #beaa91 url(../../assets/imgs/largePic.jpg) no-repeat center bottom;*/
    background-size: 100%;
    background: #beaa91;
 }
 

 .featureSocial {
    color: #FFFFFF;
    /*background: #0c2955 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
    background-size: 100%;
    background: #a4bce1;
 }

 .featureShop {
    color: #FFFFFF;
    /*background: #141804 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
    background-size: 100%;
    background: #141804;
 }

 /* De använder olika bilder */

 @media (min-width: 1600px) {
    .featureSocial {
        /*background: #0c2955 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: auto;
    }

    .featureGames {
        /*background: #beaa91 url(../../assets/imgs/largePic.jpg) no-repeat center bottom;*/
        background-size: auto;
    }

    .featureShop {
        /*background: #141804 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*
        background-size: auto;
    }
 }

 @media (max-width: 1599px) and (min-width: 1200px) {
    .featureSocial {
        /*background: #0c2955 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: auto;
    }
    .featureGames {
        /*background: #beaa91 url(../../assets/imgs/largePic.jpg) no-repeat center bottom;*/
        background-size: auto;
    }
    .featureShop {
        /*background: #141804 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: auto;
    }
 }


 @media (max-width: 1199px) and (min-width: 992px) {
    .featureSocial {
        /*background: #0c2955 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: auto;
    }
    .featureGames {
        /*background: #beaa91 url(../../assets/imgs/largePic.jpg) no-repeat center bottom;*/
        background-size: auto;
    }
    .featureShop {
        /*background: #141804 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: auto;
    }
 }

 /* TALL PIC */
 @media (max-width: 991px) and (min-width: 768px) {
    .featureSocial {
        /*background: #0c2955 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: 100%;
    }
    .featureGames {
        /*background: #beaa91 url(../../assets/imgs/largePic.jpg) no-repeat center bottom;*/
        background-size: 100%;
    }
    .featureShop {
        /*background: #141804 url(../../assets/imgs/satisfactory.png) no-repeat center bottom;*/
        background-size: 100%;
    }
 }

 .paneContent {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
 }

 @media (min-width: 480px) {
    .paneContent {
        padding-left: 30px;
        padding-right: 30px;
    }
 }

 @media (min-width: 768px) {
    .paneContent {
        padding-left: 40px;
        padding-right: 40px;
    }
 }

 @media (min-width: 1600px) {
    .paneContent {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}

 .paneHeader {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
 }

 @media (min-width: 992px) {
    .paneHeader {
        font-size: 43px;
        padding-top: 55px;
    }
 }

 .contentGroup {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
 }

 @media (min-width: 1025px) {
    .featureWrapper {
        margin-bottom: 75px;
    }
 }

 .calloutPaneContent {
    position: relative;
 }

 .featureGames .right {
    z-index: 5;
    padding-bottom: 220px;
 }

 .featureSocial .right {
    flex: 1 100%;
    padding-bottom: 210px; /* mine deras är block content */
 }

 .featureShop .right {
    flex: 1 100%;
    padding-bottom: 210px;
 }

 .featureGames .left {

 }

 .featureSocial .left {
    flex: 1 100%;
 }

 .featureShop .left {
    flex: 1 52%;
 }

 @media (min-width: 1600px) {
    .featureGames .right {
        flex: 1 36%;
        padding: 40px 0 60px;
    }
    .featureGames .left {
        flex: 1 63%;
    }
 }

 @media (max-width: 1599px) and (min-width: 992px) {
    .featureGames .right {
        flex: 1 50%;
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .featureGames .left {
        flex: 1 45%;
    }
 }

 @media (min-width: 992px) {
    .featureSocial .right {
        flex: 1 55%;
        position: relative;
        padding-top: 60px;
    }
    .featureShop .right {
        flex: 1 48%;
        padding: 65px 0 120px;
    }
    .featureSocial .left {
        flex: 1 44%;
        z-index: 5;
        padding: 80px 0 100px;
    }
    .featureShop .left {
        display: block;
    }
 }

 @media (max-width: 991px) and (min-width: 768px) {
    .featureGames .right {
        padding-bottom: 340px;
    }
    .featureShop .right {
        flex: 1 100%;
        z-index: 5;
    }
 }

 .left {
    
 }

 @media (max-width: 991px) {
    .featureGames .left {
        position: absolute;
        bottom: 0;
    }
    .featureSocial .right {
        display: flex;
        justify-content: center;
    }
 }

 .paneFeatureGroup {

 }
/* beroende på hur många featureContainers */
 @media only screen and (max-width: 1024px) and (min-width: 800px) { 
    .featureWrapper {
        display: -ms-flexbox;
        display: flex;
    }
 }

 @media only screen and (max-width: 1024px) {
    .downloadInfo {
        width: 100%;
        padding-left: 0;
        align-items: center;
    }

    .downloadInfo .todoPicture {
        display: flex;
        justify-content: center
        
    }

    .featureWrapper {
        margin: 0 auto 50px;
        
    }

    .featureContainer { 
        margin: 0 auto 5px;
        max-width: 250px;
    }

    .downloadPictures {
        display: none;
    }

 }